* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


body{
  margin: 0px;
  background:black;
}

.navbar-container {
  height: 100%;
  width: 300px;
  position: fixed;
  background: rgb(0, 170, 231);
}

.layout-container {
  margin: 0 auto;
}





.giphs-list-container {
  margin-left: 300px;
}

.giphs-list-wrapper {
    /* Prevent vertical gaps */
    line-height: 0;
   
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px; 
}

.giphs-list-item {
  margin: 5px;
}

.giphs-list-item > img {
   /* Just in case there are inline attributes */
   width: 100%; 
   height: auto; 
}


@media (max-width: 1200px) {
  .giphs-list-wrapper  {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .giphs-list-wrapper  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .giphs-list-wrapper  {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .giphs-list-wrapper  {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);

}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  width: 80%;
  min-height: 50%;
  max-height: 80%;
}

.left-modal-container{
  width: 70%;
}

.left-modal-container > img {
  width: 100%;
  max-height: 100%;
}

.right-modal-container {
  width: 30%;
}