
/* Reset all native html elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background:black;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  cursor: pointer
}

.layout-container {
  margin: 0 auto;
}


/* CSS for navbar */

.navbar-container {
  height: 100%;
  width: 300px;
  position: fixed;
  background: linear-gradient(135deg, #2a99ef 20%, #52d9e5 80%);
}

i.fas.fa-random.fa-lg {
  margin-left: 23px;
}


/* CSS for Giph grid layout */

.giphs-list-container {
  margin-left: 300px;
}

.giphs-list-wrapper {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px; 
}

.giphs-list-item {
  margin: 10px;
}

.giphs-list-item > img {
   width: 100% !important; 
   height: auto !important; 
}


@media (max-width: 1200px) {
  .giphs-list-wrapper  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  .giphs-list-wrapper  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .giphs-list-wrapper  {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .giphs-list-wrapper  {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


/* CSS for modal */
.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);

}

.modal-content {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  width: 80%;
  min-height: 40%;
  border-radius: 10px;
}

.left-modal-container{
  width: 60%;
}

.left-modal-container > img {
  width: 100%;
  max-height: 100%;
}

.right-modal-container {
  width: 40%;
  padding: 2%;
  text-align: center;
  position: relative;
}

.right-modal-container button {
  position: absolute;
  bottom: 0;
  right: 0;
}

button.favorite-button {
  position: absolute;
  right: 46px;
  font-size: 17px;
  padding: 9px;
  border-radius: 3px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: black;
  border: 1px solid black;
}

.favorite-button i.fa.fa-heart {
  padding-left: 9px;
  color: red;
}

button.close-modal-button {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  font-size: 17px;
  padding: 9px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  border: 1px solid black;
}

.list{
  text-align: left;
  text-transform: capitalize;
}

ul.list span {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.list li {
    font-size: 0.9em;
    padding: 0.5em 0.8em;
    border-bottom: 1px solid #d4d7e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    font-size: 14px;
    margin: 16px 0px;
  
}

.list-wrap {
  min-height: 280px;
}



/* CSS for searchbar */
#searchText {
  border-radius: 10px;
  height: 38px;
  width: 95%;
  border: none;
  background: rgb(250, 250, 250);
  padding: 10px;
}

.search-bar-container {
  margin-top: 18px;
}

.search-bar-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}

i.fas.fa-search {
  position: absolute;
  right: 34px;
  top: 62px;
}


.links-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.links-bar-container h1 {
  font-size: 30px;
  margin-bottom: 53px;
  color:white;
  cursor: pointer;
}

.btn {
  display: block;
  height: 50px;
  width: 186px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 6px;
}
.btn:after {
  position: absolute;
  content: '';
  display: inline-block;
  background: #3bade3;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  height: 50px;
  width: 372px;
  z-index: -1;
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px);
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
.btn:hover:after {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.btn span {
  position: relative;
  top: 16px;
}

.btn .fa {
  margin-left: 10px;
}


.title {
  position: relative;
  -webkit-perspective: 400;
          perspective: 400;
  padding-left: 17px;
  font-family: Arial;
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
  margin-top: 24px;
}
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
          animation: title-border-slide-in 0.35s ease-out forwards;
}
.title .title-word {
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.30s 0s ease-out forwards;
          animation: roll-in 0.30s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.30s 0.175s ease-out forwards;
          animation: roll-in 0.30s 0.175s ease-out forwards;
}

@-webkit-keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
