html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background:black;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  cursor: pointer
}


.navbar-container {
  height: 100%;
  width: 300px;
  position: fixed;
  background: rgb(0, 170, 231);
}

.layout-container {
  margin: 0 auto;
}





.giphs-list-container {
  margin-left: 300px;
}

.giphs-list-wrapper {
    /* Prevent vertical gaps */
    line-height: 0;
   
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px; 
}

.giphs-list-item {
  margin: 10px;
}

.giphs-list-item > img {
   /* Just in case there are inline attributes */
   width: 100% !important; 
   height: auto !important; 
}


@media (max-width: 1200px) {
  .giphs-list-wrapper  {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .giphs-list-wrapper  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .giphs-list-wrapper  {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .giphs-list-wrapper  {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);

}

.modal-content {
  background: #f2f3f6;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  width: 80%;
  min-height: 40%;
  border-radius: 10px;
}

.left-modal-container{
  width: 60%;
}

.left-modal-container > img {
  width: 100%;
  max-height: 100%;
}

.right-modal-container {
  width: 40%;
  padding: 2%;
  text-align: center;
  position: relative;
}

.right-modal-container button {
  position: absolute;
  bottom: 0;
  right: 0;
}

button.close-modal-button {
  background: red;
  font-size: 17px;
  padding: 9px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  border: none;
}

button.favorite-button {
  position: absolute;
  right: 146px;
}

.list{
  text-align: left;
}

ul.list span {
  color: gray;
  font-size: 15px;
}

.list li {
    font-size: 0.9em;
    padding: 0.5em 0.8em;
    border-bottom: 1px solid #d4d7e1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    font-size: 14px;
    margin: 16px 0px;
  
}













#searchText {
  border-radius: 10px;
  height: 38px;
  width: 95%;
  border: none;
  background: rgb(250, 250, 250);
  padding: 10px;
}

.search-bar-container {
  margin-top: 50px;
}

.search-bar-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}

i.fas.fa-search {
  position: absolute;
  right: 34px;
  top: 62px;
}




