body{
  margin: 0px;
}

.navbar-container {
  height: 100%;
  width: 200px;
  position: fixed;
}

.trending-list-container {
  margin-left: 200px;
}

.trending-list-wrapper {
    /* Prevent vertical gaps */
    line-height: 0;
   
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px; 
}

.trending-list-item {
  margin: 5px;
}

.trending-list-item img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
}