body{
  margin: 0px;
}

.navbar-container {
  height: 100%;
  width: 200px;
  position: fixed;
}





.giphs-list-container {
  margin-left: 200px;
}

.giphs-list-wrapper {
    /* Prevent vertical gaps */
    line-height: 0;
   
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px; 
}

.giphs-list-item {
  margin: 5px;
}

.giphs-list-item img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
}


@media (max-width: 1200px) {
  .giphs-list-wrapper  {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .giphs-list-wrapper  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .giphs-list-wrapper  {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .giphs-list-wrapper  {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}